Options None
AddDefaultCharset utf-8

ErrorDocument 404 /index.html
ErrorDocument 403 /index.html

DirectoryIndex index.html

AuthUserFile /home/g/goldenjeru/golden-jewelery.ru/.security/.htpasswd

AuthType Basic
AuthName sample-vue-app-1902

#Require valid-user

<Files ~ "^(.*\.)(html|js|css)$">
#Require valid-user
</Files>

